<p>
	<b>Nick : </b>
	<%= comment.commenter %>
	<b> comment : </b>
	<%= comment.body %>
</p>
<p> 
	<%= link_to 'Destory comment', [comment.post,comment],
				method: :delete,
				data: [confirm: '정말로 삭제 하시겠습니까?'] %>
</p>

